html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  font-family: 'Baloo Bhaina 2', cursive;
}

@mixin full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin fade {
  transition: opacity .5s, visibility .5s;
}

$light-blue: rgba(102, 204, 255, .75);

.app {
  @include full;
  overflow: hidden;
}

p, h1, h2, {
  margin: 0;
}

button {
  border: 0;
  padding: .25rem 1rem;
  border-radius: .25rem;
  background-color: white;
  color: black;
  cursor: pointer;
  font-family: 'Baloo Bhaina 2', sans-serif;
  font-weight: bold;
  margin: 0 .25rem;
  outline: none;
  text-align: center;
}

input {
  font-size: 1rem;
  line-height: .5rem;
  font-family: 'Baloo Bhaina 2', sans-serif;
  margin: 0 .25rem;
  padding: .125rem .5rem 0;
  border: 0;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.disabled {
  pointer-events: none;
  opacity: .5;
  user-select: none;
}

.error {
  border-color: red;
}

@import 'css/menu.scss';
@import 'css/connect.scss';
@import 'css/resources.scss';
@import 'css/kuula.scss';
@import 'css/admin.scss';
@import 'css/overlays.scss';
@import 'css/chat.scss';
