.admin {
  position: absolute;
  top: 0;
  width: 100%;
  height: 40px;
  padding: .5rem 1rem;
  background: rgba(200, 200, 200, .5);
  backdrop-filter: blur(1rem);
  
  &-login {
    
    &.hidden {
      display: none;
    }
    
    &-title {
      font-size: 1.5rem;
      font-weight: normal;
    }
    
    &-username {

    }
    
    &-password {

    }
    
    &-submit {
      
    }
  }
  
  &-tour {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    &-button {
    }
    
    &-link {
      position: relative;
      padding: .25rem .5rem;
      line-height: 1.75rem;
      margin-right: 1rem;
      white-space: nowrap;
      cursor: pointer;
      
      &:after {
        pointer-events: none;
        content: 'Tour Link Copied!';
        font-weight: bold;
        @include full;
        background: white;
        line-height: 1.75rem;
        padding: .25rem .5rem;
        color: green;
        text-align: center;
        opacity: 0;
        transform: scale(.5);
        transition: opacity .25s, transform .25s;
      }
      
      &.copied:after {
        transform: scale(1);
        opacity: 1;
      }
    }
    
    &-status {
      white-space: nowrap;
    }
  }
  
  &-toggle {
    position: absolute;
    bottom: 0;
    right: 0;
    
    &:after {
      content: 'x';
    }
  }
}
