.chat {
  position: absolute;
  bottom: 4rem;
  right: 1rem;
  width: 300px;
  padding: 1rem;
  background: $light-blue;
  backdrop-filter: blur(.5rem);
  border-radius: .25rem;
  transition: right .5s;
  
  @import 'css/textchat.scss';
  @import 'css/videochat.scss';
  
  &.hidden {
    right: calc(-300px - 2rem);
    opacity: 1;
    visibility: visible;
  }
  
  &.disabled {
    opacity: 1;
    &:after {
      content: '';
      @include full;
      background: rgba(0, 0, 0, 0);
      backdrop-filter: brightness(50%) blur(.1rem);
    }
  }
}
