.connect {
  position: absolute;
  color: white;
  background-color: $light-blue;
  backdrop-filter: blur(.5rem);
  border-radius: .25rem;
  top: 50%;
  left: 50%;
  padding: 1rem;
  transform: translate(-50%, -50%);
  @include fade;
  display: flex;
  flex-direction: column;
  
  &-title {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
  }
  
  &-form {
    display: flex;
    
    &-code {
      text-transform: uppercase;
    }
  }
  
  &-close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 2rem;
    height: 2rem;
    margin: 0;
  }
}
