.menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-color: $light-blue;
  backdrop-filter: blur(1vh);
  transition: bottom .5s;
  
  &-left, &-right {
    position: absolute;
    margin: 0 .5rem;
  }
  
  &-left {
    left: 0;
  }
  &-right {
    right: 0;
  }
  
  button {
    width: 2.5rem;
    height: 2.5rem;
    margin: .25rem;
    
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    transition: background .25s;
    
    &:hover, &.active {
      background-color: rgba(255, 255, 255, .3);
    }
  }
  
  &-connect {
    background: url('assets/images/connect.svg');
  }
  
  &-docs {
    background: url('assets/images/docs.svg');
  }
  
  &-survey {
    background: url('assets/images/survey.svg');
  }
  &-isi {
    background: url('assets/images/isi.svg');
  }
  
  &-pi {
    background: url('assets/images/pi.svg');
  }
  
  &-chat {
    background: url('assets/images/chat.svg');
  }
  
  &-toggle {
    position: absolute;
    left: 50%;
    top: 0;
    width: 2rem;
    height: 2rem;
    transform: translateX(-50%);
    background: none;
    transition: transform .5s .25s;
  }
  
  &-content {
    @include full;
    margin: 2rem 1rem 1rem;
    display: flex;
  }
}
