.overlays {
  @include full;
  @include fade;
  background: rgba(0, 0, 0, .5);
  user-select: none;
  
  &-window {
    position: absolute;
    top: 6rem;
    bottom: 6rem;
    left: 5rem;
    width: calc(100% - 10rem);
    background: white;
    overflow-x: hidden;
    overflow-y: scroll;
    
    &-content {
      width: 100%;

    }
}
  
  &-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }
}
