.resources {
  width: calc(20% - 1rem);
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  
  &-title {
    width: 100%;
    font-size: .75rem;
    line-height: .75rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: .5rem;
  }
  
  &-content {
    padding: .5rem;
    flex-grow: 1;
    background: white;
    
    &-downloads {
      margin-bottom: 1rem;
    }
    
    &-signup {
      &-email {
        margin-left: 0;
      }
    }
    
  }
}
