.textchat {
  width: 100%;
  overflow: hidden;
  margin-right: 1rem;
  transition: opacity .5s;
  display: flex;
  flex-direction: column;
  
  &-title {
    width: 100%;
    font-size: .75rem;
    line-height: .75rem;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: .5rem;
  }
  
    &-messages {
      height: 6rem;
      background: white;
      border: 1px solid gray;
      overflow-x: hidden;
      overflow-y: scroll;
      border: none;
      margin-bottom: .5rem;
      
      &-message {
        padding: 0 .5rem;
        line-height: 1.5rem;
        
        &-user {
          color: rgba(200, 200, 200, 1);
          
          &:after {
            content: ':';
            margin-right: .5rem;
          }
        }
      }
    }
    
    &-compose {
      height: 2rem;
      display: flex;
      
      &-message {
        margin-left: 0;
        width: 70%;
      }
      
      &-send {
        width: 30%;
      }
    }

}
