.videochat {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
  &-user {
   width: 100%;
   height: content-fit;
   position: relative;
   margin-bottom: 1rem;
   
   &-video {
     width: 100%;
   }
   
   &-label {
     position: absolute;
     width: calc(100% - 1rem);
     margin: .5rem;
     top: 0;
     left: 0;
     color: white;
     text-shadow: 0px 2px 2px black;
   }
 }
}
